body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
}

header {
  display: grid;

}

h1 {
  justify-self: center;
}

nav {
  justify-self: center;
 
}

nav a {
  background-color: lightslategrey;
  padding-left: 10px;
  padding-right: 10px;
}

figure {
  display: grid;
}

img {
  justify-self: center;
}
figcaption {
  justify-self: center;
}

#featured-property {

  display: grid;
}

#featured-property p {
  justify-self: center;
  width: 700px;
  text-align: center;
}

#details {
  display: flex;
  justify-content: space-around;
  background-color: red;
}

#details div {
text-align: center;
float: left;
}






